%h1 Listing checked_words

%table
  %tr
    %th Word
    %th Checked
    %th
    %th
    %th

  - @checked_words.each do |checked_word|
    %tr
      %td= checked_word.word.simplified_char
      %td= checked_word.counter
      %td= link_to 'Show', checked_word
      %td= link_to 'Edit', edit_checked_word_path(checked_word)
      %td= link_to 'Destroy', checked_word, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Checked word', new_checked_word_path
