%p#notice= notice

%p
  %b Word:
  = @checked_word.word.simplified_char

%p
  %b Checked:
  = @checked_word.counter
%p
  %b Pinyin:
  = @checked_word.word.pronunciation

= link_to 'Edit', edit_checked_word_path(@checked_word)
\|
= link_to 'Back', checked_words_path
