<p id="notice"><%= notice %></p>

<p>
  <strong>Traditional char:</strong>
  <%= @word.traditional_char %>
</p>

<p>
  <strong>Simplified char:</strong>
  <%= @word.simplified_char %>
</p>

<p>
  <strong>Pronunciation:</strong>
  <%= @word.pronunciation %>
</p>

<p>
  <strong>Meaning:</strong>
  <%= @word.meaning %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
