%p#notice= notice
%p
  %strong Traditional char:
  = @word.traditional_char
%p
  %strong Simplified char:
  = @word.simplified_char
%p
  %strong Pronunciation:
  = @word.pronunciation
%p
  %strong Meaning:
  = @word.meaning
= link_to 'Edit', edit_word_path(@word)
|
\#{link_to 'Back', words_path}
