%h1 Listing texts
%table
  %thead
    %tr
      %th Content
      %th{:colspan => "3"}
  %tbody
    - @texts.each do |text|
      %tr
        %td= text.content
        %td= link_to 'Show', text
        %td= link_to 'Edit', edit_text_path(text)
        %td= link_to 'Destroy', text, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Text', new_text_path
