<p id="notice"><%= notice %></p>

<div id="dict">
  <div id='character'></div>
  <div id='pronunciation'></div>
  <div id='meaning'></div>
</div>  

<div id='text' data-id=<%= @text.id %>>
  <strong>Content:</strong>
  <% @text.content.each_char.with_index do |c, index| %>
    <span class='character' data-index="<%= index%>"><%= c %></span>
  <% end %>
</div>

<%= link_to 'Edit', edit_text_path(@text) %> |
<%= link_to 'Back', texts_path %>
